{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  </div>
</div>
</section>

<div class="container-fluid">
  <div class="px-lg-5">



    <div class="row ">
      {% for public in galeria %}

      <div class="col-sm-6 col-md-4 gap-3">
        <div class="bg-white rounded shadow-sm img-fluid card"><img src='{{ public["ruta"] }}' alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href='/image?public={{ public["id"] }}' class="text-dark">{{ public["title"] }}</a></h5>
            <p class="small text-muted mb-0">{{ public["description"] }}</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i>


              <div class="row align-items-center">
                <div class="col">
                  <a href='profile?perfil={{ public["user_id"] }}'><img class="btn-md perfil"
                      src='{{ public["profile"] }}' alt=""></a>
                </div>
                <div class="col">
                  <h6 class="font-weight-bold align-items-end">{{ public["username"] }}</h6>
                </div>
                <div class="col">
                  <a href='like?public={{ public["id"] }}'><img class="btn-md perfil" src='/static/of.png' alt=""></a>
                </div>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>



      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}